Generate AI Videos with Google Veo3, Save it locally.json
{
  "name": "Generate AI Videos with Google Veo3, Save to Google Drive and Upload to YouTube",
  "nodes": [
    {
      "parameters": {},
      "id": "f1fcb9ab-37aa-44a3-91fc-8480351aa5cd",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        368,
        1552
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "=https://generativelanguage.googleapis.com/v1beta/{{ $json.name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "GEMINI_API_KEY"
            }
          ]
        },
        "options": {}
      },
      "id": "58194812-a64d-401e-be5e-2f1ba9210557",
      "name": "Get status",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1648,
        1552
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "amount": 60
      },
      "id": "1e23339c-f829-4426-b4f6-b02add8f8c5e",
      "name": "Wait 60 sec.",
      "type": "n8n-nodes-base.wait",
      "position": [
        1456,
        1552
      ],
      "webhookId": "490facb8-d0ae-402e-ab59-a87720cf0bdd",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "98ad8a6d-9ded-4f4e-a4ef-b624f7fe7e39",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        368,
        1408
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "383d112e-2cc6-4dd4-8985-f09ce0bd1781",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.done }}",
              "rightValue": "true"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8c54b723-d0b9-4d89-8150-975306640a96",
      "name": "Completed?",
      "type": "n8n-nodes-base.if",
      "position": [
        1824,
        1552
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/veo-3.0-generate-preview:predictLongRunning",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "GEMINI_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"instances\": [\n    {\n      \"prompt\": \"{{ $json.content.parts[0].text }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "7271ea9a-c4f5-4091-8f0f-ef40bb1d94af",
      "name": "Create Video",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1248,
        1552
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "={{ $json.response.generateVideoResponse.generatedSamples[0].video.uri }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "GEMINI_API_KEY"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "dialogue_example.mp4"
            }
          }
        }
      },
      "id": "f0cbd048-011e-47ee-8840-af630adf6f85",
      "name": "Get Url Video",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2080,
        1536
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "Generate a comedic YouTube video description about a simple task gone horribly wrong. The description should be a single block of plain text, without any special characters like quotes, emojis, or markdown. The humor should come from exaggeration, self-deprecation, and an unexpected outcome. Audio language should be \"Hindi\"."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        688,
        1520
      ],
      "id": "4a188c4c-6fef-4b53-a88e-0a00a698b649",
      "name": "Generate Text1",
      "credentials": {
        "googlePalmApi": {
          "id": "WTXewGfnUnHawwFQ",
          "name": "Google Gemini"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Completed?": {
      "main": [
        [
          {
            "node": "Get Url Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 60 sec.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get status": {
      "main": [
        [
          {
            "node": "Completed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Video": {
      "main": [
        [
          {
            "node": "Wait 60 sec.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 60 sec.": {
      "main": [
        [
          {
            "node": "Get status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Url Video": {
      "main": [
        []
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Generate Text1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Text1": {
      "main": [
        [
          {
            "node": "Create Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f7521b9d-07e5-4f1b-b8af-685c38ade0a7",
  "meta": {
    "templateId": "4846",
    "templateCredsSetupCompleted": true,
    "instanceId": "33242654bf602cde24d8593f7bc4879eaed8e1cb3e347f7ca685c2ee5c844869"
  },
  "id": "EHtU2Q2MzXPShn56",
  "tags": []
}